@font-face {
    font-family: 'Instrument-Serif';
    src: url(fonts/InstrumentSerif-Italic.ttf);
}

@font-face{
    font-family: 'Open-Sans';
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf)
}

@font-face{
  font-family: 'Domine';
  src: url(fonts/Domine-VariableFont_wght.ttf)
}


/* General Styles */
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff5ef;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoDiv {
  padding: 0;
  margin-top: -40px;
  align-items: center;
}

#logo {
  height: 200px;
}

/* Navigation Styles */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  list-style-type: none;
  margin-top: 50px;
  padding: 20px;
}

.navLink {
  display: inline-block;
  color: #3D9776;
  margin-left: 50px;
  margin-right: 50px;
}

#navLeft {
  text-align: left;
}

.btn {
  color: black;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:after {
  display: block;
  content: '';
  border-bottom: solid 3px #980F20;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: 0% 50%;
}

.btn:hover:after {
  transform: scaleX(1);
}


.centralButton {
  font-size: 30px;
}

/* Video Styles */
.videoClass {}

#myVideo {
  border-radius: 50px;
  width: 100%;
  max-height: 80%;
  height: 75vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Info Section Styles */
.infoDiv {
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statement {
  color: white;
  font-size: 60px;
  margin-bottom: 10px; /* Add margin bottom to create space */
}

.centralInfo {
  position: relative;
  bottom: 10px;
  right: 40px;
  padding: 50px;
  padding-bottom: 0px;
}

.learnMore {
  display: flex;
  align-items: center; /* Update to align items horizontally */
}

.learnMoreLink {
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 0px;
  text-decoration: none;
}

.arrowLearn {
  margin-left: -8px; /* Adjust the margin as needed to separate the arrow */
}

/* Add a style for the arrow image */
.arrowLearn img {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transform: rotate(270deg); /* Rotate the arrow image 90 degrees */
  margin-top:5px;
  filter: invert(100%);
}




/* Price Section Styles */
.priceHeader {
  font-family: 'Open-Sans';
  font-size: 50px;
  text-align: center;
}

.green {
  color: green;
}

/* Text Pair Styles */
.pair {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.textLeft {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 50%;
  text-align: center;
}

.wordRight {
  font-family: 'Instrument-Serif';
  width: 50%;
  color: #005A86;
  text-align: center;
  font-size: 150px;
  opacity: 80%;
}

/* Statement Section Styles */
.statementSection {
  border-top: #980F20 1px solid;
  padding: 20px;
  width: 85%;
  margin: auto;
}

.right {
  width: 50%;
  padding-right: 50px;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

/* Left Right Section Styles */
.leftRight {
  border-top: #980F20 5px solid;
  padding-top: 10px;
  width: 85%;
  text-align: center;
  margin: auto;
  display: flex;
}

/* Animation Styles */
.fancy {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.effect {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.pull-up {
  opacity: 1;
  transform: translateY(0);
  animation: pullUp 0.5s ease;
}

@keyframes pullUp {
  0% {
      transform: translateY(20%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}


/* Accordion Styles */
.accordion {
  max-width: 50%;
  right: 0;
  margin: 20px 0 20px auto;
}

.accordion-item {
  margin-bottom: 5px;
  overflow: hidden;
  border: none;
}

.accordion-header {
  letter-spacing: -2px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease-in-out; /* Added transition for color change */
}

.header-text {
  font-family: 'Open-Sans';
  font-weight: 500;
}

.accordion-content {
  color: #2b2b28;
  font-family: 'Open-Sans';
  line-height: 200%;
  font-size: large;
  padding: 10px;
  padding-right: 20%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.active .accordion-content {
  max-height: 1000px;
  visibility: visible;
  transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Hover styles for accordion header and arrow */
.accordion-header:hover,
.accordion-header:hover .arrowLearn img:hover {
  color: #888; /* Change to the desired grey color */
}


/* Arrow Styles */
.arrow {
  position: absolute;
  top: 35%;
  left: calc(100%);
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.arrow img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Added filter transition */
}

.arrow.clicked {
  transform: rotate(180deg);
}

.arrow:hover{
  color:green;
}

.arrowImg:hover{
  color:green;
}


/*Footer Styles*/


.footer *{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.container{
  max-width: 1170px;
  margin:auto;
  
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background: #1B382F;
    padding: 70px 0;
}

.footerLogo{
  width:150px;
  margin-top:-40px;
  filter: invert(97%) sepia(6%) saturate(455%) hue-rotate(11deg) brightness(91%) contrast(90%);
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  color:#DBDBCA;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #980F20;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  color:#DBDBCA;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;

  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  background-color: #ffffff;

}


a:visited{
  color:black;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


